
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f172a;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #2dd4bf; 
  border-radius: 4px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Add to index.css */
@keyframes rain {
  0% { background-position: 0 0; }
  100% { background-position: 20% 100%; }
}

.bg-rain-pattern {
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  animation: rain 2s linear infinite;
}

.bg-snow-pattern {
  background-image: url('https://www.transparenttextures.com/patterns/snow.png');
  animation: rain 10s linear infinite;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}